header {
  opacity: 1;
  height: 60px;
  width: 100%;
  position: relative;
  display: inline-block;
}

.main {
  background-color: #343b37;
  position: fixed;
  width: 100%;
  opacity: 1;
  padding-top: 20px;
  text-transform: uppercase;
  height: 40px;
  left: 0px;
  right: 0px;
  top: 0px;
  text-align: left;
}

.main a {
  margin-left: 30px;
  text-decoration: none;
  color: #e6e1cd;
}

.bar {
  margin-left: auto;
  margin-right: auto;
}

.bar img {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: invert(100%);
}

.about {
  color: white;
}

.about s {
  margin: 60px;
  font-size: 30px;
  text-indent: 10%;
  text-align: right;
  text-decoration: none;
}

.about table {
  margin-left: 30px;
}

.about table tbody td {
  font-size: 15px;
  text-indent: 3em;
  text-align: justify;
  width: 50%;
}

.about table tbody td #imgdiv {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.about table tbody td #imgdiv img {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

body {
  font-family: 'Mina', sans-serif;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: black;
}
