header {
  opacity: 1;
  height: 60px;
  width: 100%;
  position: relative;
  display: inline-block;
}

.main {
  background-color: #343b37;
  position: fixed;
  width: 100%;
  opacity: 0.7;
  padding-top: 20px;
  text-transform: uppercase;
  height: 40px;
  left: 0px;
  right: 0px;
  top: 0px;
  text-align: left;
}

.main a {
  margin-left: 30px;
  text-decoration: none;
  color: #e6e1cd;
}

.bar {
  margin-left: auto;
  margin-right: auto;
}

.bar img {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 yellow);
  filter: opacity(0.5) drop-shadow(0 0 0 yellow);
}

body {
  font-family: 'Mina', sans-serif;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: gray;
}
