header
  opacity: 1
  height: 900px
  width: 100%
  position: relative
  display: inline-block
  video
    object-fit: cover
.main
  background-color: rgb(52, 59, 55)
  position: fixed
  width: 100%
  opacity: 0.7
  padding-top: 20px
  text-transform: uppercase
  height: 40px
  left: 0px
  right: 0px
  top: 0px
  text-align: left
  a
    margin-left: 30px
    text-decoration: none
    color: rgb(230, 225, 205)
body
  font-family: 'Mina', sans-serif
  margin-top: 0px
  margin-left: 0px
  margin-right: 0px
