#main {
  font-family: 'Mina', sans-serif;
  width: auto;
  height: 100%;
  transition: all 0.4s ease-in-out;
}

#main #stars-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
}

#main #stars-bg #stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1759px 823px #FFF , 1876px 908px #FFF , 1352px 34px #FFF , 1677px 499px #FFF , 1055px 149px #FFF , 1276px 546px #FFF , 1568px 343px #FFF , 1480px 980px #FFF , 831px 1821px #FFF , 1164px 966px #FFF , 318px 1356px #FFF , 880px 1903px #FFF , 293px 1951px #FFF , 816px 537px #FFF , 973px 1297px #FFF , 1359px 1718px #FFF , 506px 583px #FFF , 1341px 954px #FFF , 199px 884px #FFF , 186px 1059px #FFF , 1575px 915px #FFF , 1601px 923px #FFF , 1289px 614px #FFF , 1667px 158px #FFF , 1173px 125px #FFF , 1584px 1967px #FFF , 1687px 1085px #FFF , 276px 561px #FFF , 1123px 178px #FFF , 1512px 1375px #FFF , 872px 929px #FFF , 83px 1769px #FFF , 1061px 302px #FFF , 1696px 326px #FFF , 107px 1559px #FFF , 1248px 807px #FFF , 1084px 1088px #FFF , 1561px 322px #FFF , 438px 1428px #FFF , 401px 842px #FFF , 1138px 1px #FFF , 707px 1178px #FFF , 803px 987px #FFF , 1961px 1882px #FFF , 1255px 1956px #FFF , 792px 1645px #FFF , 1391px 391px #FFF , 739px 1729px #FFF , 1084px 549px #FFF , 171px 953px #FFF , 1233px 1357px #FFF , 1070px 1405px #FFF , 321px 951px #FFF , 1252px 1262px #FFF , 737px 629px #FFF , 1866px 971px #FFF , 1013px 510px #FFF , 858px 297px #FFF , 1027px 434px #FFF , 316px 1129px #FFF , 74px 617px #FFF , 564px 53px #FFF , 408px 1832px #FFF , 162px 1318px #FFF , 1538px 1683px #FFF , 1843px 349px #FFF , 643px 979px #FFF , 972px 927px #FFF , 669px 1824px #FFF , 1033px 316px #FFF , 80px 297px #FFF , 1059px 1400px #FFF , 1981px 532px #FFF , 1799px 303px #FFF , 1264px 1422px #FFF , 1047px 1391px #FFF , 756px 1873px #FFF , 269px 44px #FFF , 574px 1126px #FFF , 747px 580px #FFF , 41px 909px #FFF , 722px 1943px #FFF , 240px 1044px #FFF , 1234px 1012px #FFF , 799px 1369px #FFF , 363px 321px #FFF , 1044px 1906px #FFF , 1747px 1949px #FFF , 1761px 532px #FFF , 681px 1157px #FFF , 1297px 116px #FFF , 735px 1570px #FFF , 1246px 45px #FFF , 66px 9px #FFF , 1544px 1049px #FFF , 317px 940px #FFF , 565px 412px #FFF , 1400px 1786px #FFF , 1068px 968px #FFF , 1754px 907px #FFF , 1995px 581px #FFF , 1640px 1359px #FFF , 1379px 930px #FFF , 1621px 1610px #FFF , 950px 952px #FFF , 1593px 316px #FFF , 477px 1670px #FFF , 685px 1546px #FFF , 1746px 1070px #FFF , 280px 1079px #FFF , 1048px 1587px #FFF , 1194px 1212px #FFF , 336px 230px #FFF , 1871px 1982px #FFF , 389px 1627px #FFF , 177px 844px #FFF , 12px 496px #FFF , 1849px 29px #FFF , 1591px 536px #FFF , 40px 1565px #FFF , 1380px 283px #FFF , 1358px 1173px #FFF , 274px 234px #FFF , 790px 1897px #FFF , 80px 448px #FFF , 1746px 224px #FFF , 1268px 418px #FFF , 700px 1082px #FFF , 251px 1176px #FFF , 1970px 1369px #FFF , 85px 1682px #FFF , 32px 1266px #FFF , 1394px 932px #FFF , 737px 1489px #FFF , 404px 568px #FFF , 922px 1698px #FFF , 604px 200px #FFF , 582px 653px #FFF , 1099px 1700px #FFF , 1531px 964px #FFF , 1960px 1384px #FFF , 1220px 1434px #FFF , 797px 1959px #FFF , 22px 170px #FFF , 1909px 321px #FFF , 909px 783px #FFF , 602px 1648px #FFF , 1410px 1882px #FFF , 1394px 1670px #FFF , 1635px 1540px #FFF , 910px 271px #FFF , 98px 336px #FFF , 207px 713px #FFF , 1699px 471px #FFF , 599px 659px #FFF , 1607px 1489px #FFF , 222px 573px #FFF , 418px 612px #FFF , 1132px 1682px #FFF , 815px 767px #FFF , 910px 1424px #FFF , 1515px 96px #FFF , 665px 1905px #FFF , 1096px 763px #FFF , 385px 829px #FFF , 436px 1399px #FFF , 539px 1736px #FFF , 261px 1629px #FFF , 923px 869px #FFF , 1138px 943px #FFF , 1325px 736px #FFF , 1127px 1254px #FFF , 1178px 631px #FFF , 674px 1181px #FFF , 1858px 1036px #FFF , 678px 1632px #FFF , 953px 93px #FFF , 1596px 1102px #FFF , 474px 1608px #FFF , 877px 6px #FFF , 1041px 1724px #FFF , 1645px 412px #FFF , 1845px 1701px #FFF , 1242px 1989px #FFF , 333px 1398px #FFF , 678px 862px #FFF , 1419px 1188px #FFF , 1815px 10px #FFF , 1447px 1219px #FFF , 1041px 1168px #FFF , 896px 668px #FFF , 1659px 412px #FFF , 153px 594px #FFF , 1729px 1836px #FFF , 138px 1249px #FFF , 1395px 304px #FFF , 1189px 1684px #FFF , 1947px 373px #FFF , 1645px 1186px #FFF , 988px 637px #FFF , 1570px 310px #FFF , 1376px 1207px #FFF , 741px 890px #FFF , 1407px 1210px #FFF , 1240px 521px #FFF , 1809px 145px #FFF , 1406px 875px #FFF , 754px 1458px #FFF , 1364px 1909px #FFF , 268px 1012px #FFF , 304px 1069px #FFF , 1319px 142px #FFF , 1891px 240px #FFF , 1073px 1729px #FFF , 1182px 216px #FFF , 923px 1022px #FFF , 1287px 2px #FFF , 1548px 1937px #FFF , 1905px 208px #FFF , 390px 1044px #FFF , 1083px 272px #FFF , 446px 634px #FFF , 1498px 522px #FFF , 249px 908px #FFF , 458px 241px #FFF , 1411px 1350px #FFF , 260px 1268px #FFF , 853px 1694px #FFF , 603px 700px #FFF , 1813px 1276px #FFF , 147px 922px #FFF , 641px 446px #FFF , 1840px 1371px #FFF , 812px 1329px #FFF , 356px 951px #FFF , 1508px 47px #FFF , 689px 173px #FFF , 377px 555px #FFF , 562px 277px #FFF , 1983px 716px #FFF , 671px 1627px #FFF , 671px 481px #FFF , 1618px 1398px #FFF , 1204px 38px #FFF , 956px 1040px #FFF , 1083px 1192px #FFF , 401px 466px #FFF , 1884px 1826px #FFF , 1950px 468px #FFF , 1854px 1613px #FFF , 484px 1803px #FFF , 886px 1033px #FFF , 86px 721px #FFF , 461px 1974px #FFF , 908px 1260px #FFF , 1935px 929px #FFF , 43px 365px #FFF , 1764px 965px #FFF , 144px 132px #FFF , 369px 71px #FFF , 8px 83px #FFF , 1915px 699px #FFF , 1274px 1149px #FFF , 1452px 1914px #FFF , 408px 1918px #FFF , 717px 1060px #FFF , 974px 1858px #FFF , 477px 1800px #FFF , 989px 137px #FFF , 474px 884px #FFF , 35px 374px #FFF , 1653px 141px #FFF , 266px 519px #FFF , 1771px 1611px #FFF , 720px 1078px #FFF , 1223px 745px #FFF , 853px 418px #FFF , 63px 469px #FFF , 406px 1328px #FFF , 490px 1561px #FFF , 1937px 1408px #FFF , 1583px 1837px #FFF , 1948px 141px #FFF , 999px 600px #FFF , 1854px 1868px #FFF , 1852px 337px #FFF , 845px 1864px #FFF , 995px 756px #FFF , 1088px 446px #FFF , 78px 825px #FFF , 120px 1605px #FFF , 1541px 389px #FFF , 1166px 919px #FFF , 839px 1020px #FFF , 1265px 1576px #FFF , 817px 268px #FFF , 237px 997px #FFF , 1868px 73px #FFF , 1534px 539px #FFF , 1326px 171px #FFF , 625px 1059px #FFF , 1710px 553px #FFF , 531px 1866px #FFF , 1730px 1114px #FFF , 1858px 1676px #FFF , 702px 1910px #FFF , 823px 314px #FFF , 1034px 380px #FFF , 1539px 952px #FFF , 1089px 82px #FFF , 316px 46px #FFF , 1798px 1463px #FFF , 1346px 1310px #FFF , 168px 644px #FFF , 734px 1024px #FFF , 237px 1848px #FFF , 622px 1640px #FFF , 76px 640px #FFF , 1491px 1853px #FFF , 1628px 561px #FFF , 1043px 695px #FFF , 1234px 1190px #FFF , 615px 652px #FFF , 1846px 1344px #FFF , 1337px 666px #FFF , 1242px 120px #FFF , 228px 1553px #FFF , 1110px 1075px #FFF , 1499px 1366px #FFF , 261px 318px #FFF , 1407px 76px #FFF , 74px 1846px #FFF , 457px 409px #FFF , 812px 1328px #FFF , 1641px 819px #FFF , 483px 228px #FFF , 11px 1654px #FFF , 438px 1514px #FFF , 1806px 1249px #FFF , 1050px 35px #FFF , 868px 1307px #FFF , 638px 1053px #FFF , 1247px 1879px #FFF , 38px 1776px #FFF , 153px 1834px #FFF , 1930px 1912px #FFF , 892px 571px #FFF , 1147px 1032px #FFF , 302px 207px #FFF , 1393px 166px #FFF , 485px 195px #FFF , 846px 708px #FFF , 1788px 1160px #FFF , 1563px 1005px #FFF , 1496px 833px #FFF , 248px 983px #FFF , 525px 52px #FFF , 875px 1557px #FFF , 1597px 1275px #FFF , 636px 957px #FFF , 41px 188px #FFF , 1923px 1590px #FFF , 109px 1260px #FFF , 106px 1526px #FFF , 807px 219px #FFF , 417px 840px #FFF , 1199px 1470px #FFF , 1948px 531px #FFF , 1564px 1541px #FFF , 1526px 1916px #FFF , 1730px 881px #FFF , 1409px 688px #FFF , 721px 500px #FFF , 874px 1497px #FFF , 1903px 1665px #FFF , 1145px 1654px #FFF , 209px 1636px #FFF , 1733px 1796px #FFF , 450px 705px #FFF , 1572px 1457px #FFF , 1836px 1283px #FFF , 1475px 578px #FFF , 1712px 1835px #FFF , 450px 498px #FFF , 1998px 1314px #FFF , 1620px 28px #FFF , 1660px 275px #FFF , 1673px 1506px #FFF , 48px 434px #FFF , 347px 27px #FFF , 1467px 1255px #FFF , 672px 852px #FFF , 601px 1041px #FFF , 274px 1163px #FFF , 701px 668px #FFF , 480px 1455px #FFF , 1249px 563px #FFF , 976px 768px #FFF , 1860px 159px #FFF , 897px 1004px #FFF , 1606px 1904px #FFF , 1511px 1650px #FFF , 1914px 1641px #FFF , 1108px 1686px #FFF , 1367px 1275px #FFF , 976px 1052px #FFF , 819px 688px #FFF , 40px 106px #FFF , 951px 581px #FFF , 1680px 1993px #FFF , 1443px 498px #FFF , 324px 1369px #FFF , 364px 1989px #FFF , 1321px 1330px #FFF , 98px 996px #FFF , 370px 270px #FFF , 1575px 1221px #FFF , 959px 1601px #FFF , 476px 1307px #FFF , 1712px 389px #FFF , 120px 757px #FFF , 85px 101px #FFF , 274px 1493px #FFF , 364px 1420px #FFF , 417px 1783px #FFF , 914px 1882px #FFF , 1666px 1665px #FFF , 311px 1179px #FFF , 641px 232px #FFF , 892px 1512px #FFF , 427px 666px #FFF , 1711px 1793px #FFF , 1269px 1829px #FFF , 303px 1240px #FFF , 177px 973px #FFF , 992px 203px #FFF , 167px 697px #FFF , 27px 56px #FFF , 319px 1305px #FFF , 1095px 58px #FFF , 674px 114px #FFF , 349px 831px #FFF , 1377px 218px #FFF , 694px 1185px #FFF , 1267px 985px #FFF , 214px 1379px #FFF , 1931px 971px #FFF , 958px 1536px #FFF , 937px 1473px #FFF , 491px 791px #FFF , 375px 1780px #FFF , 1535px 1669px #FFF , 1243px 361px #FFF , 883px 996px #FFF , 1843px 148px #FFF , 1589px 1957px #FFF , 94px 28px #FFF , 1502px 1940px #FFF , 1523px 1719px #FFF , 346px 1835px #FFF , 143px 1293px #FFF , 737px 1334px #FFF , 478px 388px #FFF , 367px 531px #FFF , 588px 107px #FFF , 1497px 507px #FFF , 1309px 1252px #FFF , 1312px 789px #FFF , 1196px 623px #FFF , 1122px 1535px #FFF , 393px 957px #FFF , 1522px 1746px #FFF , 1714px 301px #FFF , 1526px 1053px #FFF , 255px 966px #FFF , 1682px 1403px #FFF , 214px 309px #FFF , 1349px 254px #FFF , 286px 530px #FFF , 667px 613px #FFF , 1663px 1172px #FFF , 248px 537px #FFF , 203px 806px #FFF , 1293px 1687px #FFF , 600px 1304px #FFF , 815px 1958px #FFF , 196px 1255px #FFF , 1204px 885px #FFF , 565px 61px #FFF , 784px 1433px #FFF , 905px 725px #FFF , 916px 1764px #FFF , 395px 1269px #FFF , 1062px 695px #FFF , 1526px 706px #FFF , 290px 1456px #FFF , 602px 1320px #FFF , 107px 1218px #FFF , 673px 594px #FFF , 349px 1535px #FFF , 1016px 1929px #FFF , 194px 1531px #FFF , 690px 501px #FFF , 72px 638px #FFF , 734px 741px #FFF , 1821px 279px #FFF , 1333px 1196px #FFF , 1869px 683px #FFF , 1053px 387px #FFF , 1118px 1151px #FFF , 226px 885px #FFF , 1273px 1166px #FFF , 1495px 1953px #FFF , 153px 786px #FFF , 177px 206px #FFF , 288px 282px #FFF , 419px 618px #FFF , 1451px 1018px #FFF , 535px 193px #FFF , 1394px 378px #FFF , 1124px 1508px #FFF , 768px 530px #FFF , 635px 1994px #FFF , 1388px 606px #FFF , 476px 1228px #FFF , 1747px 1296px #FFF , 951px 795px #FFF , 111px 1730px #FFF , 1797px 372px #FFF , 1950px 119px #FFF , 1819px 679px #FFF , 1270px 1917px #FFF , 267px 910px #FFF , 627px 1382px #FFF , 1116px 1167px #FFF , 34px 981px #FFF , 1564px 1219px #FFF , 1482px 287px #FFF , 305px 1438px #FFF , 1704px 1554px #FFF , 1972px 611px #FFF , 325px 1687px #FFF , 1735px 70px #FFF , 899px 1475px #FFF , 315px 594px #FFF , 1738px 541px #FFF , 1227px 76px #FFF , 449px 1661px #FFF , 1281px 394px #FFF , 74px 723px #FFF , 1468px 51px #FFF , 243px 437px #FFF , 710px 1927px #FFF , 1210px 1779px #FFF , 1215px 692px #FFF , 1055px 288px #FFF , 482px 1137px #FFF , 868px 1383px #FFF , 1482px 1695px #FFF , 479px 1981px #FFF , 534px 934px #FFF , 183px 1405px #FFF , 1309px 521px #FFF , 1470px 1398px #FFF , 753px 825px #FFF , 1169px 902px #FFF , 1214px 833px #FFF , 1130px 494px #FFF , 1415px 448px #FFF , 1530px 1344px #FFF , 12px 1753px #FFF , 1631px 1539px #FFF , 138px 1410px #FFF , 1786px 93px #FFF , 750px 621px #FFF , 1122px 1229px #FFF , 1594px 680px #FFF , 277px 54px #FFF , 1177px 375px #FFF , 660px 79px #FFF , 130px 995px #FFF , 217px 1395px #FFF , 1532px 6px #FFF , 610px 1281px #FFF , 1502px 210px #FFF , 1611px 898px #FFF , 651px 708px #FFF , 1303px 1788px #FFF , 127px 37px #FFF , 1063px 1813px #FFF , 1576px 524px #FFF , 475px 1030px #FFF , 157px 429px #FFF , 1510px 284px #FFF , 1458px 1994px #FFF , 1680px 1665px #FFF , 1714px 1578px #FFF , 1343px 222px #FFF , 341px 1430px #FFF , 1279px 223px #FFF , 1030px 217px #FFF , 1425px 324px #FFF , 269px 578px #FFF , 33px 259px #FFF , 990px 1683px #FFF , 578px 228px #FFF , 1005px 701px #FFF , 1571px 1714px #FFF , 1390px 1080px #FFF , 1354px 184px #FFF , 928px 950px #FFF , 1255px 1995px #FFF , 1160px 1128px #FFF , 1005px 1986px #FFF , 1542px 3px #FFF , 1074px 389px #FFF , 745px 704px #FFF , 133px 425px #FFF , 202px 81px #FFF , 1882px 1895px #FFF , 987px 59px #FFF , 37px 297px #FFF , 82px 1268px #FFF , 1488px 36px #FFF , 1533px 191px #FFF , 1983px 1580px #FFF , 472px 651px #FFF , 1688px 651px #FFF , 1587px 1694px #FFF , 1850px 920px #FFF , 635px 1910px #FFF , 449px 1975px #FFF , 377px 324px #FFF , 33px 408px #FFF , 472px 1618px #FFF , 1688px 1638px #FFF , 1811px 706px #FFF , 300px 1370px #FFF , 525px 74px #FFF , 1859px 1347px #FFF , 1446px 1495px #FFF , 1874px 1310px #FFF , 757px 146px #FFF , 83px 1640px #FFF , 1052px 1810px #FFF , 3px 220px #FFF , 1990px 49px #FFF , 46px 525px #FFF , 1680px 1352px #FFF , 1081px 1928px #FFF , 1479px 743px #FFF , 1960px 26px #FFF , 1164px 1975px #FFF , 940px 317px #FFF , 1074px 502px #FFF , 386px 267px #FFF , 1564px 1800px #FFF , 81px 1314px #FFF , 130px 1822px #FFF , 1435px 1756px #FFF , 283px 84px #FFF , 1964px 70px #FFF , 1093px 1932px #FFF , 525px 313px #FFF , 323px 1206px #FFF , 1738px 1256px #FFF , 1668px 1701px #FFF , 956px 824px #FFF , 1048px 1920px #FFF , 389px 177px #FFF , 298px 1504px #FFF , 1576px 343px #FFF , 1403px 210px #FFF , 1932px 367px #FFF , 110px 1127px #FFF , 972px 307px #FFF , 1154px 8px #FFF , 1205px 835px #FFF , 143px 1488px #FFF , 173px 1907px #FFF , 1427px 1731px #FFF , 1417px 870px #FFF , 1196px 635px #FFF , 1755px 1821px #FFF , 1421px 1836px #FFF , 1259px 218px #FFF , 1056px 1949px #FFF , 1400px 514px #FFF , 1522px 920px #FFF , 1963px 1252px #FFF , 1050px 1045px #FFF , 1474px 971px #FFF , 668px 161px #FFF , 384px 913px #FFF , 1923px 1450px #FFF , 966px 1993px #FFF , 901px 1815px #FFF , 147px 635px #FFF , 519px 1936px #FFF , 626px 729px #FFF;
}

#main #stars-bg #stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1759px 823px #FFF , 1876px 908px #FFF , 1352px 34px #FFF , 1677px 499px #FFF , 1055px 149px #FFF , 1276px 546px #FFF , 1568px 343px #FFF , 1480px 980px #FFF , 831px 1821px #FFF , 1164px 966px #FFF , 318px 1356px #FFF , 880px 1903px #FFF , 293px 1951px #FFF , 816px 537px #FFF , 973px 1297px #FFF , 1359px 1718px #FFF , 506px 583px #FFF , 1341px 954px #FFF , 199px 884px #FFF , 186px 1059px #FFF , 1575px 915px #FFF , 1601px 923px #FFF , 1289px 614px #FFF , 1667px 158px #FFF , 1173px 125px #FFF , 1584px 1967px #FFF , 1687px 1085px #FFF , 276px 561px #FFF , 1123px 178px #FFF , 1512px 1375px #FFF , 872px 929px #FFF , 83px 1769px #FFF , 1061px 302px #FFF , 1696px 326px #FFF , 107px 1559px #FFF , 1248px 807px #FFF , 1084px 1088px #FFF , 1561px 322px #FFF , 438px 1428px #FFF , 401px 842px #FFF , 1138px 1px #FFF , 707px 1178px #FFF , 803px 987px #FFF , 1961px 1882px #FFF , 1255px 1956px #FFF , 792px 1645px #FFF , 1391px 391px #FFF , 739px 1729px #FFF , 1084px 549px #FFF , 171px 953px #FFF , 1233px 1357px #FFF , 1070px 1405px #FFF , 321px 951px #FFF , 1252px 1262px #FFF , 737px 629px #FFF , 1866px 971px #FFF , 1013px 510px #FFF , 858px 297px #FFF , 1027px 434px #FFF , 316px 1129px #FFF , 74px 617px #FFF , 564px 53px #FFF , 408px 1832px #FFF , 162px 1318px #FFF , 1538px 1683px #FFF , 1843px 349px #FFF , 643px 979px #FFF , 972px 927px #FFF , 669px 1824px #FFF , 1033px 316px #FFF , 80px 297px #FFF , 1059px 1400px #FFF , 1981px 532px #FFF , 1799px 303px #FFF , 1264px 1422px #FFF , 1047px 1391px #FFF , 756px 1873px #FFF , 269px 44px #FFF , 574px 1126px #FFF , 747px 580px #FFF , 41px 909px #FFF , 722px 1943px #FFF , 240px 1044px #FFF , 1234px 1012px #FFF , 799px 1369px #FFF , 363px 321px #FFF , 1044px 1906px #FFF , 1747px 1949px #FFF , 1761px 532px #FFF , 681px 1157px #FFF , 1297px 116px #FFF , 735px 1570px #FFF , 1246px 45px #FFF , 66px 9px #FFF , 1544px 1049px #FFF , 317px 940px #FFF , 565px 412px #FFF , 1400px 1786px #FFF , 1068px 968px #FFF , 1754px 907px #FFF , 1995px 581px #FFF , 1640px 1359px #FFF , 1379px 930px #FFF , 1621px 1610px #FFF , 950px 952px #FFF , 1593px 316px #FFF , 477px 1670px #FFF , 685px 1546px #FFF , 1746px 1070px #FFF , 280px 1079px #FFF , 1048px 1587px #FFF , 1194px 1212px #FFF , 336px 230px #FFF , 1871px 1982px #FFF , 389px 1627px #FFF , 177px 844px #FFF , 12px 496px #FFF , 1849px 29px #FFF , 1591px 536px #FFF , 40px 1565px #FFF , 1380px 283px #FFF , 1358px 1173px #FFF , 274px 234px #FFF , 790px 1897px #FFF , 80px 448px #FFF , 1746px 224px #FFF , 1268px 418px #FFF , 700px 1082px #FFF , 251px 1176px #FFF , 1970px 1369px #FFF , 85px 1682px #FFF , 32px 1266px #FFF , 1394px 932px #FFF , 737px 1489px #FFF , 404px 568px #FFF , 922px 1698px #FFF , 604px 200px #FFF , 582px 653px #FFF , 1099px 1700px #FFF , 1531px 964px #FFF , 1960px 1384px #FFF , 1220px 1434px #FFF , 797px 1959px #FFF , 22px 170px #FFF , 1909px 321px #FFF , 909px 783px #FFF , 602px 1648px #FFF , 1410px 1882px #FFF , 1394px 1670px #FFF , 1635px 1540px #FFF , 910px 271px #FFF , 98px 336px #FFF , 207px 713px #FFF , 1699px 471px #FFF , 599px 659px #FFF , 1607px 1489px #FFF , 222px 573px #FFF , 418px 612px #FFF , 1132px 1682px #FFF , 815px 767px #FFF , 910px 1424px #FFF , 1515px 96px #FFF , 665px 1905px #FFF , 1096px 763px #FFF , 385px 829px #FFF , 436px 1399px #FFF , 539px 1736px #FFF , 261px 1629px #FFF , 923px 869px #FFF , 1138px 943px #FFF , 1325px 736px #FFF , 1127px 1254px #FFF , 1178px 631px #FFF , 674px 1181px #FFF , 1858px 1036px #FFF , 678px 1632px #FFF , 953px 93px #FFF , 1596px 1102px #FFF , 474px 1608px #FFF , 877px 6px #FFF , 1041px 1724px #FFF , 1645px 412px #FFF , 1845px 1701px #FFF , 1242px 1989px #FFF , 333px 1398px #FFF , 678px 862px #FFF , 1419px 1188px #FFF , 1815px 10px #FFF , 1447px 1219px #FFF , 1041px 1168px #FFF , 896px 668px #FFF , 1659px 412px #FFF , 153px 594px #FFF , 1729px 1836px #FFF , 138px 1249px #FFF , 1395px 304px #FFF , 1189px 1684px #FFF , 1947px 373px #FFF , 1645px 1186px #FFF , 988px 637px #FFF , 1570px 310px #FFF , 1376px 1207px #FFF , 741px 890px #FFF , 1407px 1210px #FFF , 1240px 521px #FFF , 1809px 145px #FFF , 1406px 875px #FFF , 754px 1458px #FFF , 1364px 1909px #FFF , 268px 1012px #FFF , 304px 1069px #FFF , 1319px 142px #FFF , 1891px 240px #FFF , 1073px 1729px #FFF , 1182px 216px #FFF , 923px 1022px #FFF , 1287px 2px #FFF , 1548px 1937px #FFF , 1905px 208px #FFF , 390px 1044px #FFF , 1083px 272px #FFF , 446px 634px #FFF , 1498px 522px #FFF , 249px 908px #FFF , 458px 241px #FFF , 1411px 1350px #FFF , 260px 1268px #FFF , 853px 1694px #FFF , 603px 700px #FFF , 1813px 1276px #FFF , 147px 922px #FFF , 641px 446px #FFF , 1840px 1371px #FFF , 812px 1329px #FFF , 356px 951px #FFF , 1508px 47px #FFF , 689px 173px #FFF , 377px 555px #FFF , 562px 277px #FFF , 1983px 716px #FFF , 671px 1627px #FFF , 671px 481px #FFF , 1618px 1398px #FFF , 1204px 38px #FFF , 956px 1040px #FFF , 1083px 1192px #FFF , 401px 466px #FFF , 1884px 1826px #FFF , 1950px 468px #FFF , 1854px 1613px #FFF , 484px 1803px #FFF , 886px 1033px #FFF , 86px 721px #FFF , 461px 1974px #FFF , 908px 1260px #FFF , 1935px 929px #FFF , 43px 365px #FFF , 1764px 965px #FFF , 144px 132px #FFF , 369px 71px #FFF , 8px 83px #FFF , 1915px 699px #FFF , 1274px 1149px #FFF , 1452px 1914px #FFF , 408px 1918px #FFF , 717px 1060px #FFF , 974px 1858px #FFF , 477px 1800px #FFF , 989px 137px #FFF , 474px 884px #FFF , 35px 374px #FFF , 1653px 141px #FFF , 266px 519px #FFF , 1771px 1611px #FFF , 720px 1078px #FFF , 1223px 745px #FFF , 853px 418px #FFF , 63px 469px #FFF , 406px 1328px #FFF , 490px 1561px #FFF , 1937px 1408px #FFF , 1583px 1837px #FFF , 1948px 141px #FFF , 999px 600px #FFF , 1854px 1868px #FFF , 1852px 337px #FFF , 845px 1864px #FFF , 995px 756px #FFF , 1088px 446px #FFF , 78px 825px #FFF , 120px 1605px #FFF , 1541px 389px #FFF , 1166px 919px #FFF , 839px 1020px #FFF , 1265px 1576px #FFF , 817px 268px #FFF , 237px 997px #FFF , 1868px 73px #FFF , 1534px 539px #FFF , 1326px 171px #FFF , 625px 1059px #FFF , 1710px 553px #FFF , 531px 1866px #FFF , 1730px 1114px #FFF , 1858px 1676px #FFF , 702px 1910px #FFF , 823px 314px #FFF , 1034px 380px #FFF , 1539px 952px #FFF , 1089px 82px #FFF , 316px 46px #FFF , 1798px 1463px #FFF , 1346px 1310px #FFF , 168px 644px #FFF , 734px 1024px #FFF , 237px 1848px #FFF , 622px 1640px #FFF , 76px 640px #FFF , 1491px 1853px #FFF , 1628px 561px #FFF , 1043px 695px #FFF , 1234px 1190px #FFF , 615px 652px #FFF , 1846px 1344px #FFF , 1337px 666px #FFF , 1242px 120px #FFF , 228px 1553px #FFF , 1110px 1075px #FFF , 1499px 1366px #FFF , 261px 318px #FFF , 1407px 76px #FFF , 74px 1846px #FFF , 457px 409px #FFF , 812px 1328px #FFF , 1641px 819px #FFF , 483px 228px #FFF , 11px 1654px #FFF , 438px 1514px #FFF , 1806px 1249px #FFF , 1050px 35px #FFF , 868px 1307px #FFF , 638px 1053px #FFF , 1247px 1879px #FFF , 38px 1776px #FFF , 153px 1834px #FFF , 1930px 1912px #FFF , 892px 571px #FFF , 1147px 1032px #FFF , 302px 207px #FFF , 1393px 166px #FFF , 485px 195px #FFF , 846px 708px #FFF , 1788px 1160px #FFF , 1563px 1005px #FFF , 1496px 833px #FFF , 248px 983px #FFF , 525px 52px #FFF , 875px 1557px #FFF , 1597px 1275px #FFF , 636px 957px #FFF , 41px 188px #FFF , 1923px 1590px #FFF , 109px 1260px #FFF , 106px 1526px #FFF , 807px 219px #FFF , 417px 840px #FFF , 1199px 1470px #FFF , 1948px 531px #FFF , 1564px 1541px #FFF , 1526px 1916px #FFF , 1730px 881px #FFF , 1409px 688px #FFF , 721px 500px #FFF , 874px 1497px #FFF , 1903px 1665px #FFF , 1145px 1654px #FFF , 209px 1636px #FFF , 1733px 1796px #FFF , 450px 705px #FFF , 1572px 1457px #FFF , 1836px 1283px #FFF , 1475px 578px #FFF , 1712px 1835px #FFF , 450px 498px #FFF , 1998px 1314px #FFF , 1620px 28px #FFF , 1660px 275px #FFF , 1673px 1506px #FFF , 48px 434px #FFF , 347px 27px #FFF , 1467px 1255px #FFF , 672px 852px #FFF , 601px 1041px #FFF , 274px 1163px #FFF , 701px 668px #FFF , 480px 1455px #FFF , 1249px 563px #FFF , 976px 768px #FFF , 1860px 159px #FFF , 897px 1004px #FFF , 1606px 1904px #FFF , 1511px 1650px #FFF , 1914px 1641px #FFF , 1108px 1686px #FFF , 1367px 1275px #FFF , 976px 1052px #FFF , 819px 688px #FFF , 40px 106px #FFF , 951px 581px #FFF , 1680px 1993px #FFF , 1443px 498px #FFF , 324px 1369px #FFF , 364px 1989px #FFF , 1321px 1330px #FFF , 98px 996px #FFF , 370px 270px #FFF , 1575px 1221px #FFF , 959px 1601px #FFF , 476px 1307px #FFF , 1712px 389px #FFF , 120px 757px #FFF , 85px 101px #FFF , 274px 1493px #FFF , 364px 1420px #FFF , 417px 1783px #FFF , 914px 1882px #FFF , 1666px 1665px #FFF , 311px 1179px #FFF , 641px 232px #FFF , 892px 1512px #FFF , 427px 666px #FFF , 1711px 1793px #FFF , 1269px 1829px #FFF , 303px 1240px #FFF , 177px 973px #FFF , 992px 203px #FFF , 167px 697px #FFF , 27px 56px #FFF , 319px 1305px #FFF , 1095px 58px #FFF , 674px 114px #FFF , 349px 831px #FFF , 1377px 218px #FFF , 694px 1185px #FFF , 1267px 985px #FFF , 214px 1379px #FFF , 1931px 971px #FFF , 958px 1536px #FFF , 937px 1473px #FFF , 491px 791px #FFF , 375px 1780px #FFF , 1535px 1669px #FFF , 1243px 361px #FFF , 883px 996px #FFF , 1843px 148px #FFF , 1589px 1957px #FFF , 94px 28px #FFF , 1502px 1940px #FFF , 1523px 1719px #FFF , 346px 1835px #FFF , 143px 1293px #FFF , 737px 1334px #FFF , 478px 388px #FFF , 367px 531px #FFF , 588px 107px #FFF , 1497px 507px #FFF , 1309px 1252px #FFF , 1312px 789px #FFF , 1196px 623px #FFF , 1122px 1535px #FFF , 393px 957px #FFF , 1522px 1746px #FFF , 1714px 301px #FFF , 1526px 1053px #FFF , 255px 966px #FFF , 1682px 1403px #FFF , 214px 309px #FFF , 1349px 254px #FFF , 286px 530px #FFF , 667px 613px #FFF , 1663px 1172px #FFF , 248px 537px #FFF , 203px 806px #FFF , 1293px 1687px #FFF , 600px 1304px #FFF , 815px 1958px #FFF , 196px 1255px #FFF , 1204px 885px #FFF , 565px 61px #FFF , 784px 1433px #FFF , 905px 725px #FFF , 916px 1764px #FFF , 395px 1269px #FFF , 1062px 695px #FFF , 1526px 706px #FFF , 290px 1456px #FFF , 602px 1320px #FFF , 107px 1218px #FFF , 673px 594px #FFF , 349px 1535px #FFF , 1016px 1929px #FFF , 194px 1531px #FFF , 690px 501px #FFF , 72px 638px #FFF , 734px 741px #FFF , 1821px 279px #FFF , 1333px 1196px #FFF , 1869px 683px #FFF , 1053px 387px #FFF , 1118px 1151px #FFF , 226px 885px #FFF , 1273px 1166px #FFF , 1495px 1953px #FFF , 153px 786px #FFF , 177px 206px #FFF , 288px 282px #FFF , 419px 618px #FFF , 1451px 1018px #FFF , 535px 193px #FFF , 1394px 378px #FFF , 1124px 1508px #FFF , 768px 530px #FFF , 635px 1994px #FFF , 1388px 606px #FFF , 476px 1228px #FFF , 1747px 1296px #FFF , 951px 795px #FFF , 111px 1730px #FFF , 1797px 372px #FFF , 1950px 119px #FFF , 1819px 679px #FFF , 1270px 1917px #FFF , 267px 910px #FFF , 627px 1382px #FFF , 1116px 1167px #FFF , 34px 981px #FFF , 1564px 1219px #FFF , 1482px 287px #FFF , 305px 1438px #FFF , 1704px 1554px #FFF , 1972px 611px #FFF , 325px 1687px #FFF , 1735px 70px #FFF , 899px 1475px #FFF , 315px 594px #FFF , 1738px 541px #FFF , 1227px 76px #FFF , 449px 1661px #FFF , 1281px 394px #FFF , 74px 723px #FFF , 1468px 51px #FFF , 243px 437px #FFF , 710px 1927px #FFF , 1210px 1779px #FFF , 1215px 692px #FFF , 1055px 288px #FFF , 482px 1137px #FFF , 868px 1383px #FFF , 1482px 1695px #FFF , 479px 1981px #FFF , 534px 934px #FFF , 183px 1405px #FFF , 1309px 521px #FFF , 1470px 1398px #FFF , 753px 825px #FFF , 1169px 902px #FFF , 1214px 833px #FFF , 1130px 494px #FFF , 1415px 448px #FFF , 1530px 1344px #FFF , 12px 1753px #FFF , 1631px 1539px #FFF , 138px 1410px #FFF , 1786px 93px #FFF , 750px 621px #FFF , 1122px 1229px #FFF , 1594px 680px #FFF , 277px 54px #FFF , 1177px 375px #FFF , 660px 79px #FFF , 130px 995px #FFF , 217px 1395px #FFF , 1532px 6px #FFF , 610px 1281px #FFF , 1502px 210px #FFF , 1611px 898px #FFF , 651px 708px #FFF , 1303px 1788px #FFF , 127px 37px #FFF , 1063px 1813px #FFF , 1576px 524px #FFF , 475px 1030px #FFF , 157px 429px #FFF , 1510px 284px #FFF , 1458px 1994px #FFF , 1680px 1665px #FFF , 1714px 1578px #FFF , 1343px 222px #FFF , 341px 1430px #FFF , 1279px 223px #FFF , 1030px 217px #FFF , 1425px 324px #FFF , 269px 578px #FFF , 33px 259px #FFF , 990px 1683px #FFF , 578px 228px #FFF , 1005px 701px #FFF , 1571px 1714px #FFF , 1390px 1080px #FFF , 1354px 184px #FFF , 928px 950px #FFF , 1255px 1995px #FFF , 1160px 1128px #FFF , 1005px 1986px #FFF , 1542px 3px #FFF , 1074px 389px #FFF , 745px 704px #FFF , 133px 425px #FFF , 202px 81px #FFF , 1882px 1895px #FFF , 987px 59px #FFF , 37px 297px #FFF , 82px 1268px #FFF , 1488px 36px #FFF , 1533px 191px #FFF , 1983px 1580px #FFF , 472px 651px #FFF , 1688px 651px #FFF , 1587px 1694px #FFF , 1850px 920px #FFF , 635px 1910px #FFF , 449px 1975px #FFF , 377px 324px #FFF , 33px 408px #FFF , 472px 1618px #FFF , 1688px 1638px #FFF , 1811px 706px #FFF , 300px 1370px #FFF , 525px 74px #FFF , 1859px 1347px #FFF , 1446px 1495px #FFF , 1874px 1310px #FFF , 757px 146px #FFF , 83px 1640px #FFF , 1052px 1810px #FFF , 3px 220px #FFF , 1990px 49px #FFF , 46px 525px #FFF , 1680px 1352px #FFF , 1081px 1928px #FFF , 1479px 743px #FFF , 1960px 26px #FFF , 1164px 1975px #FFF , 940px 317px #FFF , 1074px 502px #FFF , 386px 267px #FFF , 1564px 1800px #FFF , 81px 1314px #FFF , 130px 1822px #FFF , 1435px 1756px #FFF , 283px 84px #FFF , 1964px 70px #FFF , 1093px 1932px #FFF , 525px 313px #FFF , 323px 1206px #FFF , 1738px 1256px #FFF , 1668px 1701px #FFF , 956px 824px #FFF , 1048px 1920px #FFF , 389px 177px #FFF , 298px 1504px #FFF , 1576px 343px #FFF , 1403px 210px #FFF , 1932px 367px #FFF , 110px 1127px #FFF , 972px 307px #FFF , 1154px 8px #FFF , 1205px 835px #FFF , 143px 1488px #FFF , 173px 1907px #FFF , 1427px 1731px #FFF , 1417px 870px #FFF , 1196px 635px #FFF , 1755px 1821px #FFF , 1421px 1836px #FFF , 1259px 218px #FFF , 1056px 1949px #FFF , 1400px 514px #FFF , 1522px 920px #FFF , 1963px 1252px #FFF , 1050px 1045px #FFF , 1474px 971px #FFF , 668px 161px #FFF , 384px 913px #FFF , 1923px 1450px #FFF , 966px 1993px #FFF , 901px 1815px #FFF , 147px 635px #FFF , 519px 1936px #FFF , 626px 729px #FFF;
}

#main #stars-bg #stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1324px 1717px #FFF , 1891px 102px #FFF , 1161px 1645px #FFF , 269px 548px #FFF , 1454px 810px #FFF , 1913px 925px #FFF , 1270px 1226px #FFF , 181px 196px #FFF , 591px 629px #FFF , 1723px 1498px #FFF , 768px 288px #FFF , 812px 1645px #FFF , 317px 657px #FFF , 179px 706px #FFF , 92px 1192px #FFF , 689px 835px #FFF , 1426px 637px #FFF , 1218px 189px #FFF , 678px 1758px #FFF , 1903px 666px #FFF , 1917px 77px #FFF , 1953px 844px #FFF , 600px 981px #FFF , 618px 925px #FFF , 1098px 717px #FFF , 483px 1133px #FFF , 1109px 1899px #FFF , 449px 1522px #FFF , 259px 1540px #FFF , 930px 77px #FFF , 1463px 878px #FFF , 1070px 260px #FFF , 1217px 474px #FFF , 1477px 446px #FFF , 580px 290px #FFF , 1906px 1278px #FFF , 241px 1257px #FFF , 1406px 1217px #FFF , 977px 881px #FFF , 419px 36px #FFF , 1345px 1172px #FFF , 726px 123px #FFF , 533px 1959px #FFF , 1598px 706px #FFF , 1767px 1733px #FFF , 1777px 1399px #FFF , 1421px 199px #FFF , 1578px 415px #FFF , 316px 97px #FFF , 1194px 1363px #FFF , 93px 1615px #FFF , 522px 1422px #FFF , 1482px 1041px #FFF , 450px 1335px #FFF , 1617px 403px #FFF , 647px 1990px #FFF , 1031px 1139px #FFF , 1019px 337px #FFF , 1797px 1647px #FFF , 1417px 732px #FFF , 940px 1663px #FFF , 1200px 1718px #FFF , 1631px 1281px #FFF , 792px 1540px #FFF , 949px 26px #FFF , 318px 903px #FFF , 355px 1907px #FFF , 1450px 1858px #FFF , 701px 349px #FFF , 1292px 411px #FFF , 1526px 369px #FFF , 230px 825px #FFF , 381px 433px #FFF , 203px 1380px #FFF , 4px 1128px #FFF , 140px 138px #FFF , 1155px 1296px #FFF , 1577px 415px #FFF , 1162px 136px #FFF , 346px 1869px #FFF , 1600px 1672px #FFF , 1199px 1450px #FFF , 1755px 307px #FFF , 43px 1952px #FFF , 624px 1858px #FFF , 1978px 152px #FFF , 775px 1832px #FFF , 162px 358px #FFF , 1483px 1458px #FFF , 702px 1415px #FFF , 516px 131px #FFF , 661px 177px #FFF , 1746px 645px #FFF , 1068px 587px #FFF , 359px 1498px #FFF , 1578px 1655px #FFF , 3px 1655px #FFF , 1281px 967px #FFF , 67px 836px #FFF , 1522px 1045px #FFF , 4px 1219px #FFF , 833px 399px #FFF , 745px 1373px #FFF , 1692px 846px #FFF , 566px 1475px #FFF , 196px 355px #FFF , 234px 483px #FFF , 1079px 753px #FFF , 1598px 780px #FFF , 1165px 1375px #FFF , 713px 328px #FFF , 1453px 355px #FFF , 99px 1142px #FFF , 203px 993px #FFF , 1395px 120px #FFF , 119px 591px #FFF , 1382px 1352px #FFF , 1370px 278px #FFF , 1855px 96px #FFF , 1226px 538px #FFF , 1990px 551px #FFF , 1443px 306px #FFF , 663px 1649px #FFF , 1265px 898px #FFF , 349px 1509px #FFF , 1695px 1006px #FFF , 361px 1153px #FFF , 1017px 1405px #FFF , 476px 330px #FFF , 1400px 96px #FFF , 111px 1103px #FFF , 1626px 1867px #FFF , 560px 1442px #FFF , 1252px 1268px #FFF , 1535px 1240px #FFF , 363px 1472px #FFF , 446px 325px #FFF , 556px 612px #FFF , 1927px 603px #FFF , 1887px 1439px #FFF , 1396px 1406px #FFF , 23px 196px #FFF , 1709px 1565px #FFF , 938px 1184px #FFF , 1730px 1656px #FFF , 788px 1215px #FFF , 393px 1148px #FFF , 800px 405px #FFF , 958px 1428px #FFF , 1760px 1142px #FFF , 66px 1632px #FFF , 1429px 543px #FFF , 174px 1330px #FFF , 598px 461px #FFF , 1199px 1782px #FFF , 555px 806px #FFF , 1748px 683px #FFF , 930px 1348px #FFF , 1204px 906px #FFF , 1444px 275px #FFF , 1355px 93px #FFF , 846px 166px #FFF , 1283px 284px #FFF , 1744px 1250px #FFF , 372px 1042px #FFF , 1124px 43px #FFF , 603px 239px #FFF , 1239px 711px #FFF , 1538px 1177px #FFF , 902px 961px #FFF , 637px 998px #FFF , 969px 1425px #FFF , 227px 576px #FFF , 136px 1093px #FFF , 1126px 295px #FFF , 1333px 27px #FFF , 636px 1943px #FFF , 468px 259px #FFF , 1747px 1803px #FFF , 1775px 1030px #FFF , 1170px 251px #FFF , 1378px 1593px #FFF , 165px 1496px #FFF , 1984px 1624px #FFF , 1525px 1875px #FFF , 438px 1553px #FFF , 1041px 438px #FFF , 1919px 1333px #FFF , 1503px 1436px #FFF , 681px 971px #FFF , 1030px 409px #FFF , 1241px 1485px #FFF , 1337px 1111px #FFF , 1911px 1617px #FFF , 384px 834px #FFF , 468px 910px #FFF , 590px 166px #FFF , 1283px 1302px #FFF , 1396px 513px #FFF , 1056px 454px #FFF;
}

#main #stars-bg #stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1324px 1717px #FFF , 1891px 102px #FFF , 1161px 1645px #FFF , 269px 548px #FFF , 1454px 810px #FFF , 1913px 925px #FFF , 1270px 1226px #FFF , 181px 196px #FFF , 591px 629px #FFF , 1723px 1498px #FFF , 768px 288px #FFF , 812px 1645px #FFF , 317px 657px #FFF , 179px 706px #FFF , 92px 1192px #FFF , 689px 835px #FFF , 1426px 637px #FFF , 1218px 189px #FFF , 678px 1758px #FFF , 1903px 666px #FFF , 1917px 77px #FFF , 1953px 844px #FFF , 600px 981px #FFF , 618px 925px #FFF , 1098px 717px #FFF , 483px 1133px #FFF , 1109px 1899px #FFF , 449px 1522px #FFF , 259px 1540px #FFF , 930px 77px #FFF , 1463px 878px #FFF , 1070px 260px #FFF , 1217px 474px #FFF , 1477px 446px #FFF , 580px 290px #FFF , 1906px 1278px #FFF , 241px 1257px #FFF , 1406px 1217px #FFF , 977px 881px #FFF , 419px 36px #FFF , 1345px 1172px #FFF , 726px 123px #FFF , 533px 1959px #FFF , 1598px 706px #FFF , 1767px 1733px #FFF , 1777px 1399px #FFF , 1421px 199px #FFF , 1578px 415px #FFF , 316px 97px #FFF , 1194px 1363px #FFF , 93px 1615px #FFF , 522px 1422px #FFF , 1482px 1041px #FFF , 450px 1335px #FFF , 1617px 403px #FFF , 647px 1990px #FFF , 1031px 1139px #FFF , 1019px 337px #FFF , 1797px 1647px #FFF , 1417px 732px #FFF , 940px 1663px #FFF , 1200px 1718px #FFF , 1631px 1281px #FFF , 792px 1540px #FFF , 949px 26px #FFF , 318px 903px #FFF , 355px 1907px #FFF , 1450px 1858px #FFF , 701px 349px #FFF , 1292px 411px #FFF , 1526px 369px #FFF , 230px 825px #FFF , 381px 433px #FFF , 203px 1380px #FFF , 4px 1128px #FFF , 140px 138px #FFF , 1155px 1296px #FFF , 1577px 415px #FFF , 1162px 136px #FFF , 346px 1869px #FFF , 1600px 1672px #FFF , 1199px 1450px #FFF , 1755px 307px #FFF , 43px 1952px #FFF , 624px 1858px #FFF , 1978px 152px #FFF , 775px 1832px #FFF , 162px 358px #FFF , 1483px 1458px #FFF , 702px 1415px #FFF , 516px 131px #FFF , 661px 177px #FFF , 1746px 645px #FFF , 1068px 587px #FFF , 359px 1498px #FFF , 1578px 1655px #FFF , 3px 1655px #FFF , 1281px 967px #FFF , 67px 836px #FFF , 1522px 1045px #FFF , 4px 1219px #FFF , 833px 399px #FFF , 745px 1373px #FFF , 1692px 846px #FFF , 566px 1475px #FFF , 196px 355px #FFF , 234px 483px #FFF , 1079px 753px #FFF , 1598px 780px #FFF , 1165px 1375px #FFF , 713px 328px #FFF , 1453px 355px #FFF , 99px 1142px #FFF , 203px 993px #FFF , 1395px 120px #FFF , 119px 591px #FFF , 1382px 1352px #FFF , 1370px 278px #FFF , 1855px 96px #FFF , 1226px 538px #FFF , 1990px 551px #FFF , 1443px 306px #FFF , 663px 1649px #FFF , 1265px 898px #FFF , 349px 1509px #FFF , 1695px 1006px #FFF , 361px 1153px #FFF , 1017px 1405px #FFF , 476px 330px #FFF , 1400px 96px #FFF , 111px 1103px #FFF , 1626px 1867px #FFF , 560px 1442px #FFF , 1252px 1268px #FFF , 1535px 1240px #FFF , 363px 1472px #FFF , 446px 325px #FFF , 556px 612px #FFF , 1927px 603px #FFF , 1887px 1439px #FFF , 1396px 1406px #FFF , 23px 196px #FFF , 1709px 1565px #FFF , 938px 1184px #FFF , 1730px 1656px #FFF , 788px 1215px #FFF , 393px 1148px #FFF , 800px 405px #FFF , 958px 1428px #FFF , 1760px 1142px #FFF , 66px 1632px #FFF , 1429px 543px #FFF , 174px 1330px #FFF , 598px 461px #FFF , 1199px 1782px #FFF , 555px 806px #FFF , 1748px 683px #FFF , 930px 1348px #FFF , 1204px 906px #FFF , 1444px 275px #FFF , 1355px 93px #FFF , 846px 166px #FFF , 1283px 284px #FFF , 1744px 1250px #FFF , 372px 1042px #FFF , 1124px 43px #FFF , 603px 239px #FFF , 1239px 711px #FFF , 1538px 1177px #FFF , 902px 961px #FFF , 637px 998px #FFF , 969px 1425px #FFF , 227px 576px #FFF , 136px 1093px #FFF , 1126px 295px #FFF , 1333px 27px #FFF , 636px 1943px #FFF , 468px 259px #FFF , 1747px 1803px #FFF , 1775px 1030px #FFF , 1170px 251px #FFF , 1378px 1593px #FFF , 165px 1496px #FFF , 1984px 1624px #FFF , 1525px 1875px #FFF , 438px 1553px #FFF , 1041px 438px #FFF , 1919px 1333px #FFF , 1503px 1436px #FFF , 681px 971px #FFF , 1030px 409px #FFF , 1241px 1485px #FFF , 1337px 1111px #FFF , 1911px 1617px #FFF , 384px 834px #FFF , 468px 910px #FFF , 590px 166px #FFF , 1283px 1302px #FFF , 1396px 513px #FFF , 1056px 454px #FFF;
}

#main #stars-bg #stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1900px 112px #FFF , 483px 421px #FFF , 1383px 442px #FFF , 378px 276px #FFF , 791px 910px #FFF , 299px 1840px #FFF , 1733px 1927px #FFF , 316px 993px #FFF , 196px 1572px #FFF , 1322px 663px #FFF , 175px 1276px #FFF , 325px 755px #FFF , 1504px 662px #FFF , 498px 1951px #FFF , 279px 1350px #FFF , 425px 1656px #FFF , 845px 1565px #FFF , 191px 211px #FFF , 531px 1215px #FFF , 1124px 604px #FFF , 369px 380px #FFF , 745px 1619px #FFF , 1093px 917px #FFF , 1989px 202px #FFF , 1501px 418px #FFF , 48px 1053px #FFF , 1752px 1234px #FFF , 267px 1462px #FFF , 769px 1256px #FFF , 1266px 285px #FFF , 758px 1586px #FFF , 1629px 623px #FFF , 755px 1777px #FFF , 1064px 1911px #FFF , 124px 1376px #FFF , 1146px 1487px #FFF , 855px 705px #FFF , 1490px 1046px #FFF , 1932px 1381px #FFF , 1132px 1773px #FFF , 900px 859px #FFF , 1353px 1022px #FFF , 1922px 797px #FFF , 816px 543px #FFF , 1562px 883px #FFF , 963px 804px #FFF , 1914px 1987px #FFF , 1183px 952px #FFF , 797px 1566px #FFF , 657px 1914px #FFF , 970px 1817px #FFF , 1487px 541px #FFF , 830px 53px #FFF , 7px 855px #FFF , 772px 803px #FFF , 195px 280px #FFF , 908px 1760px #FFF , 1363px 1236px #FFF , 1931px 1929px #FFF , 365px 852px #FFF , 1077px 986px #FFF , 1656px 1237px #FFF , 776px 1004px #FFF , 312px 373px #FFF , 13px 1063px #FFF , 1005px 1165px #FFF , 1575px 1113px #FFF , 1639px 45px #FFF , 198px 1478px #FFF , 547px 480px #FFF , 1192px 1699px #FFF , 1586px 1728px #FFF , 303px 992px #FFF , 1722px 1328px #FFF , 1802px 829px #FFF , 1840px 1103px #FFF , 545px 1842px #FFF , 89px 793px #FFF , 1229px 1561px #FFF , 961px 148px #FFF , 1718px 1754px #FFF , 1943px 1241px #FFF , 1973px 27px #FFF , 1030px 1477px #FFF , 804px 421px #FFF , 490px 1617px #FFF , 1805px 167px #FFF , 421px 177px #FFF , 1454px 1881px #FFF , 624px 203px #FFF , 852px 145px #FFF , 37px 464px #FFF , 990px 79px #FFF , 1542px 1429px #FFF , 306px 210px #FFF , 1512px 1887px #FFF , 159px 246px #FFF , 257px 1213px #FFF , 884px 142px #FFF , 725px 929px #FFF;
}

#main #stars-bg #stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1900px 112px #FFF , 483px 421px #FFF , 1383px 442px #FFF , 378px 276px #FFF , 791px 910px #FFF , 299px 1840px #FFF , 1733px 1927px #FFF , 316px 993px #FFF , 196px 1572px #FFF , 1322px 663px #FFF , 175px 1276px #FFF , 325px 755px #FFF , 1504px 662px #FFF , 498px 1951px #FFF , 279px 1350px #FFF , 425px 1656px #FFF , 845px 1565px #FFF , 191px 211px #FFF , 531px 1215px #FFF , 1124px 604px #FFF , 369px 380px #FFF , 745px 1619px #FFF , 1093px 917px #FFF , 1989px 202px #FFF , 1501px 418px #FFF , 48px 1053px #FFF , 1752px 1234px #FFF , 267px 1462px #FFF , 769px 1256px #FFF , 1266px 285px #FFF , 758px 1586px #FFF , 1629px 623px #FFF , 755px 1777px #FFF , 1064px 1911px #FFF , 124px 1376px #FFF , 1146px 1487px #FFF , 855px 705px #FFF , 1490px 1046px #FFF , 1932px 1381px #FFF , 1132px 1773px #FFF , 900px 859px #FFF , 1353px 1022px #FFF , 1922px 797px #FFF , 816px 543px #FFF , 1562px 883px #FFF , 963px 804px #FFF , 1914px 1987px #FFF , 1183px 952px #FFF , 797px 1566px #FFF , 657px 1914px #FFF , 970px 1817px #FFF , 1487px 541px #FFF , 830px 53px #FFF , 7px 855px #FFF , 772px 803px #FFF , 195px 280px #FFF , 908px 1760px #FFF , 1363px 1236px #FFF , 1931px 1929px #FFF , 365px 852px #FFF , 1077px 986px #FFF , 1656px 1237px #FFF , 776px 1004px #FFF , 312px 373px #FFF , 13px 1063px #FFF , 1005px 1165px #FFF , 1575px 1113px #FFF , 1639px 45px #FFF , 198px 1478px #FFF , 547px 480px #FFF , 1192px 1699px #FFF , 1586px 1728px #FFF , 303px 992px #FFF , 1722px 1328px #FFF , 1802px 829px #FFF , 1840px 1103px #FFF , 545px 1842px #FFF , 89px 793px #FFF , 1229px 1561px #FFF , 961px 148px #FFF , 1718px 1754px #FFF , 1943px 1241px #FFF , 1973px 27px #FFF , 1030px 1477px #FFF , 804px 421px #FFF , 490px 1617px #FFF , 1805px 167px #FFF , 421px 177px #FFF , 1454px 1881px #FFF , 624px 203px #FFF , 852px 145px #FFF , 37px 464px #FFF , 990px 79px #FFF , 1542px 1429px #FFF , 306px 210px #FFF , 1512px 1887px #FFF , 159px 246px #FFF , 257px 1213px #FFF , 884px 142px #FFF , 725px 929px #FFF;
}

#main #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: none;
  transition: all 0.4s ease-in-out;
  z-index: 2;
}

#main #about {
  display: block;
  position: absolute;
  top: 110%;
  z-index: 3;
  color: white;
  opacity: 1;
}

#main #about h1 {
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

#main #about #text {
  z-index: 3;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#main #about #text tbody {
  z-index: 2;
}

#main #about #text tbody td {
  font-size: 15px;
  text-indent: 3em;
  text-align: justify;
  width: 50%;
}

#main #about #text tbody td #imgdiv {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

#main #about #text tbody td #imgdiv img {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  -webkit-box-shadow: 0px 0px 85px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 85px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 85px -5px rgba(0, 0, 0, 0.75);
}

#main .socialmedia {
  z-index: 3;
  width: 100%;
  height: 80px;
}

#main .socialmedia #icon {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

#main .socialmedia #icon a img {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  width: 40px;
  height: auto;
}

#main #equilibrio {
  opacity: 1;
  display: block;
  width: 40%;
  height: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
  z-index: 3;
}

#main #equilibrio #mylogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: auto;
  z-index: 2;
  filter: blur(5px);
  transition: all 0.2s ease-in-out;
}

#main #equilibrio:hover #mylogo {
  width: 93%;
  height: auto;
  filter: blur(0px);
  transform: translate(-50%, -80%);
}

#main #equilibrio:hover .logos {
  opacity: 1;
}

#main #equilibrio .logos {
  transition: all 0.2s ease-in-out;
  width: 100%;
  opacity: 0;
  margin-top: 25%;
  height: 50%;
}

#main #equilibrio .logos .ltable tr {
  height: 20%;
}

#main #equilibrio .logos .ltable tr td {
  padding: 10px;
}

#main #equilibrio .logos .ltable tr td div {
  height: 50px;
  width: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

#main #equilibrio .logos .ltable tr td div img {
  margin: auto;
  width: 40px;
  height: 40px;
  filter: blur(2px);
  transition: all 0.2s ease-in-out;
}

#main #equilibrio .logos .ltable tr td:hover img {
  filter: blur(0px);
  width: 50px;
  height: 50px;
}

#main #covers {
  z-index: 3;
  position: absolute;
  height: 170px;
  width: 100%;
  top: 1200px;
  max-width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

#main #covers h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

#main #covers .covers {
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 60%;
  margin: auto;
  opacity: 1;
  height: 350px;
  text-align: left;
}

#main #covers .covers .ctable tr td {
  perspective: 1000px;
  cursor: pointer;
}

#main #covers .covers .ctable tr td:hover div {
  transform: rotateY(180deg);
}

#main #covers .covers .ctable tr td div {
  height: 250px;
  width: 250px;
  margin: auto;
  display: flex;
  perspective: 1000px;
  transform-style: preserve-3d;
  align-items: center;
  justify-content: center;
  display: block;
  transition: all 0.6s ease-in-out;
}

#main #covers .covers .ctable tr td div img {
  height: 230px;
  width: 230px;
  backface-visibility: hidden;
  position: absolute;
  z-index: 5;
}

#main #covers .covers .ctable tr td div .back {
  z-index: 4;
  transform: rotateY(180deg);
}

#main #player-bg {
  width: 70%;
  height: 100%;
  position: absolute;
  top: 1600px;
  margin-bottom: 100px;
  background-image: url("/img/album.jpeg");
  filter: blur(50%);
  opacity: 0.8;
  left: 50%;
  margin-left: -35%;
}

#main #player {
  width: 70%;
  height: 100%;
  position: absolute;
  top: 1600px;
  margin-bottom: 100px;
  left: 50%;
  margin-left: -35%;
  -webkit-box-shadow: 0px 0px 85px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 85px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 85px -5px rgba(0, 0, 0, 0.75);
}

#main #player iframe {
  transition: all 0.6s ease-in-out;
  position: absolute;
}

#main #images {
  position: absolute;
  top: 2300px;
  background-color: black;
  margin-left: -35%;
  left: 50%;
  width: 70%;
  height: 100%;
  opacity: 0.5;
  margin-bottom: 100px;
}

#main #images h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.particles {
  opacity: 1;
}

.noparticles {
  opacity: 0;
}

.stars {
  animation: animStar 100s linear infinite;
}

.stars2 {
  animation: animStar 200s linear infinite;
}

.stars3 {
  animation: animStar 300s linear infinite;
}

.on {
  z-index: 5;
  opacity: 0.6;
}

.off {
  z-index: 4;
  opacity: 0;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
