
// n is number of stars required
@function multiple-box-shadow ($n)
  $value: '#{random(2000)}px #{random(2000)}px #FFF'
  @for $i from 2 through $n
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF'

  @return unquote($value)

$shadows-small:  multiple-box-shadow(700)
$shadows-medium: multiple-box-shadow(200)
$shadows-big:    multiple-box-shadow(100)

#main
  font-family: 'Mina', sans-serif
  width: auto
  height: 100%
  transition: all 0.4s ease-in-out
  #stars-bg
    position: absolute
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%)
    overflow: hidden
    #stars
      width: 1px
      height: 1px
      background: transparent
      box-shadow: $shadows-small
      &:after
        content: " "
        position: absolute
        top: 2000px
        width: 1px
        height: 1px
        background: transparent
        box-shadow: $shadows-small
    #stars2
      width: 2px
      height: 2px
      background: transparent
      box-shadow: $shadows-medium
      &:after
        content: " "
        position: absolute
        top: 2000px
        width: 2px
        height: 2px
        background: transparent
        box-shadow: $shadows-medium
    #stars3
      width: 3px
      height: 3px
      background: transparent
      box-shadow: $shadows-big
      &:after
        content: " "
        position: absolute
        top: 2000px
        width: 3px
        height: 3px
        background: transparent
        box-shadow: $shadows-big
  #particles-js
    position: absolute
    width: 100%
    height: 100%
    background-color: none
    transition: all 0.4s ease-in-out
    z-index: 2
  #equilibrio
    opacity: 1
    display: block
    width: 40%
    height: 45%
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    transition: all 0.2s ease-in-out
    z-index: 3
    #mylogo
      position: fixed
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 90%
      height: auto
      z-index: 2
      filter: blur(5px)
      transition: all 0.2s ease-in-out
    &:hover
      #mylogo
        width: 93%
        height: auto
        filter: blur(0px)
        transform: translate(-50%, -80%)
      .logos
        opacity: 1
    .logos
      transition: all 0.2s ease-in-out
      width: 100%
      opacity: 0
      margin-top: 25%
      height: 50%
      .ltable
        tr
          height: 20%
          td
            padding: 10px
            div
              height: 50px
              width: 50px
              margin: auto
              display: flex
              align-items: center
              justify-content: center
              border-radius: 50%
              img
                margin: auto
                width: 40px
                height: 40px
                filter: blur(2px)
                transition: all 0.2s ease-in-out
            &:hover
              img
                filter: blur(0px)
                width: 50px
                height: 50px


.particles
  opacity: 1
.noparticles
  opacity: 0

.stars
  animation: animStar 100s linear infinite
.stars2
  animation: animStar 200s linear infinite
.stars3
  animation: animStar 300s linear infinite

@keyframes animStar
  from
    transform: translateY(0px)
  to
    transform: translateY(-2000px)
