//output:about.html
doctype html
html
  head
    title Equilíbrio: Mais sobre mim
    link( rel="stylesheet", type="text/css", href="css/about.css")
    link( href="https://fonts.googleapis.com/css?family=Mina" rel="stylesheet")
  body
    header
      nav.main
        a(href="#Sobre") Sobre 
        a(href="#Musica") Música 
        a(href="#Eventos") Eventos
    div.bar
      image( src="line.png" type="image/png")
