//output:index.html
doctype html
html
  head
    title Equilíbrio
    link( rel="shortcut icon", href="img/Logo_E.png", type="image/ico")
    link( rel="stylesheet", type="text/css", href="css/index.css")
    link( href="https://fonts.googleapis.com/css?family=Mina" rel="stylesheet")
    script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js")
    link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script( src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="js/particles.js")
  body.main#main
    div#equilibrio
      img#mylogo( src="/img/KC_Logo.png")
      table.logos
        tbody.ltable
          tr
            td
              a(href="#")
                div.about
                  img(src="img/logos/about.png")
            td
              a(href="#")
                div.music
                  img(src="img/logos/music.png")
            td
              a(href="#")
                div.concerts
                  img(src="img/logos/concerts.png")
    div#particles-js.noparticles
    div#stars-bg
      div#stars.stars
      div#stars2.stars2
      div#stars3.stars3
  head
    script(src="js/hover.js")
