//output:intro.html
doctype html
html
  head
    title Equilíbrio
    link( rel="stylesheet", type="text/css", href="css/intro.css")
    link( rel="shortcut icon", href="Logo_E.jpg", type="image/ico")
    link( href="https://fonts.googleapis.com/css?family=Mina" rel="stylesheet")
  body
    header
      video(width="100%" height="50%" loop autoplay muted src="coverfinal.webm" type="video/webm")
      nav.main
          a(href="#Sobre") Sobre 
          a(href="#Musica") Música 
          a(href="#Eventos") Eventos
